.subHeaderStyle {
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 500;
  background-image: linear-gradient(to left, #afa7c5, #ff70d9);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
