.IntroContainer {
  display: flex;
  background-color: rgb(244, 169, 181);
  height: 40vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 15px 60px 10px 60px;
  white-space: normal;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }

  .ImgContainer {
    position: relative;
    width: 40%;
    height: 90%;
    overflow: hidden;
    border-radius: 0px 40px 0px 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 2%;
    .img {
      object-fit: cover;
    }
    @media screen and (max-width: 768px) {
      width: 80%;
      height: 50vh;
    }
  }

  .info {
    direction: rtl;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h6,
    p,
    .list {
      margin-right: 7%;
      @media screen and (max-width: 768px) {
        font-size: 3.5vw;
        margin-right: 5%;
        margin-top: -1%;
      }
    }
    .list {
      margin-top: -50px;
      @media screen and (max-width: 768px) {
        margin-right: 0;
      }
      margin-right: -2%;
      line-height: 2;
    }
    p {
      font-size: 2vw;
      @media screen and (max-width: 768px) {
        font-size: 4vw;
      }
      font-weight: 400;
      text-align: right;
    }
    h6 {
      font-size: 2vw;
      line-height: normal;
      @media screen and (max-width: 768px) {
        font-size: 3.5vw;
        margin-right: 10%;
      }
      font-weight: 700;
      text-align: right;
    }
  }
}
