.aboutMeContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2vw;
  direction: rtl;
  .aboutMeLeft {
    flex: 1;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-right: 2%;
    .img {
      object-fit: cover;
      object-position: center;
    }
    .waitingForU {
      position: relative;
      justify-self: center;
      top: 100%;
      right: 25%;
    }
  }

  .aboutMeRight {
    flex: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .curlyP {
      display: flex;
      align-items: center;
      font-size: 0;
    }
    li {
      @media screen and (max-width: 768px) {
        font-size: 0.6rem;
      }
    }
  }
}

.curlys {
  background: none;
  width: 70px;
  padding-left: 2vw;
  position: sticky;
  margin-right: -25px;
  @media screen and (max-width: 768px) {
    margin-right: -35px;
  }
}
