.swiperContainer {
  background-color: #ef65af0a;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 35vh;

  .workoutImage {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .img {
      object-fit: cover;
      object-position: center;
    }
    p.positioned {
      position: relative;
      z-index: 100;
      right: 40%;
    }
  }
}
