.IntroContainer {
  display: flex;
  background-color: pink;
  height: 30vw;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 100px 15px 100px 10px;

  .ImgContainer {
    position: relative;
    width: 40%;
    height: 80%;
    overflow: hidden;
    border-radius: 60px 0px 60px 0px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-right: 7%;
    .img {
      object-fit: cover;
    }
  }

  .info {
    width: 50%;
    height: 80%;
    padding: 2rem;
    text-wrap: pretty;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: normal;
    p,
    h6,
    li {
      @media screen and (max-width: 768px) {
        font-size: 2vw;
      }
      font-size: 1.5vw;
      font-weight: 400;
      text-align: right;
      text-orientation: mixed;
      direction: rtl;
      // letter-spacing: 0.25px;
    }

    h6 {
      margin-top: 30px;
      margin-bottom: -10px;
      font-weight: 500;
      text-wrap: wrap;
    }
  }
}
