.socialIcons {
  display: flex;
  flex-shrink: 1;
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  width: 50vw;
  .icon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    background: none;
    border: none;
    flex-shrink: 1;
    &:hover {
      transform: scale(1.2);
    }
  }
}
