.testimonyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef65af0a;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  height: auto;
  min-height: 26rem;
  position: relative;
}

.video {
  border: 0;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20rem;
  min-height: 26rem;
}
