.testimonyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  background-color: #ef65af0a;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.video {
  border: 0;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}
